{# templates/utilisateur/connexion.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>Connexion</h2>

    {{ form_start(form) }}
    
    {# Affiche le champ email #}
    {{ form_row(form.email) }}

    {# Affiche le champ password #}
    {{ form_row(form.password) }}

    <button type="submit">Se connecter</button>
    {{ form_end(form) }}
{% endblock %}
